<!DOCTYPE html>
<html>
    <body>
        <meta charset="utf-8" />
        <center>
            <head><h1>Menu : </h1></head>
            <h4> Convertir un fichier :</h4>
            <p> Transforme un fichier en un fichier JSON au format {métadonnées, fichier_binaire}.</p>
            <form action="/home/convert" method="get">
                <input type="submit" value="Convertisseur de fichier">
            </form>

            <h4> Lister les fichiers disponibles :</h4>
            <p> Liste les fichiers JSON disponibles sur le bucket.</p>
            <form action="/home/s3/list_bucket" method="get">
                <input type="submit" value="Lister les fichier sur le bucket">
            </form>

            <h4> Supprimer un fichier JSON présent sur le bucket :</h4>
            <p> Supprime le fichier désiré du bucket.</p>
            <form action="/home/s3/del_file" method="post">
                <input type="file_del" name="file_del" placeholder="Fichier à supprimer">
                <input type="submit" value="Supprimer">
            </form>

            <h4> Récupérer un fichier JSON présent sur le bucket :</h4>
            <p> Récupère le fichier désiré du bucket.</p>
            <form action="/home/s3/get_file" method="post">
                <input type="file_get" name="file_get" placeholder="File à télécharger">
                <input type="submit" value="Télécharger">
            </form>
            <p> ............... </p>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <p> </p>
            <img src="https://www.palombe.com/users/00/00/39/media/20140902195209ziriak10.jpg" alt="" />
            <p><small>Source : www.palombe.com</small></p>
        </center>
    </body>
</html>